<!--
 * @Author: maple
 * @Date: 2020-05-22 17:47:08
 * @LastEditors: maple
 * @LastEditTime: 2020-05-22 23:00:10
-->
<footer class="footer footer-unloaded">
    <!-- social  -->
    <% if(theme.social) { %>
    <div class="social">
        <%- partial('base-social') %>
    </div>
    <% } %>
    <!-- powered by Hexo  -->
    <div class="copyright">
        <span id="hexo-power">Powered by <a href="https://hexo.io/" target="_blank">Hexo</a></span><span
            class="iconfont-archer power">&#xe635;</span><span id="theme-info">theme <a
                href="https://github.com/fi3ework/hexo-theme-archer" target="_blank">Archer</a></span>
    </div>
    <!-- 不蒜子  -->
    <% if (theme.busuanzi) { %>
    <div class="busuanzi-container">
        <% var sloganPieces = theme.busuanzi_slug.split('${count}') %>
        <% if(theme.busuanzi_pv_or_uv === 'pv') { %>
        <span id="busuanzi_container_site_pv"  style="color: #939393;"><%- sloganPieces[0] %><span id="busuanzi_value_site_pv"
                style="color: #939393;"></span><%- sloganPieces[1] %></span>
        <% } else if (theme.busuanzi_pv_or_uv === 'uv') { %>
        <span id="busuanzi_container_site_uv"><%- sloganPieces[0] %><span
                id="busuanzi_value_site_uv"></span><%- sloganPieces[1] %></span>
        <% } %>
        <% } %>
    </div>

    <div class="busuanzi-container">
        <div id="busuanzi_container_site_pv" style="width:300px;margin:0 auto; padding:20px 0;">
            <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33011002014704"
                style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
                <img src="/assets/beian.png" style="float:left;" />
                <span style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">浙公网安备
                    33011002014704号 备案号: 浙ICP备20017606号-1</span>
            </a>
        </div>

    </div>
</footer>